<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="icon" href="{% static 'images/home.png' %}">
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src ="{% static 'js/bootstrap.min.js' %}"></script>
    
    <style>
        img {
            width: 400px;
            height: 300px;
            background-color: grey;
        }
        h1:hover{
            background-color: darkcyan;
            font-size: 50px;
            text-align: center;
   
        }
    </style>
</head>
<body>
<h1>home page</h1>
<a href="{% url 'about' %}"class="btn btn-success">About</a>
 <a href="{% url 'form' %}" class="btn btn-warning">Form</a>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque dolorem eos impedit labore natus officiis quas reprehenderit? Commodi dolores ex explicabo illum iure labore nobis quae quos rem, sit.</p>
<img src="{% static 'images/car4.jpeg' %}" alt="">
<img src="{% static 'images/car6.jpeg' %}" alt="">
<img src="{% static 'images/home3.jpeg' %}" alt="">
<img src="{% static 'images/school3.jpeg' %}" alt="">

<br><br>

<h1 class="heading2">services</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto asperiores cum cumque delectus, dolores eaque fuga illum ipsam ipsum magni maxime molestiae necessitatibus nesciunt odio quidem rem suscipit tempore!</p>
<img class="myimage" src="{% static 'images/home3.jpeg' %}" alt="">


</body>
</html>